
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --grad1: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --primary-theme: #1a0b2e;
  --secondary-theme: #351165;
  --primary-theme-bg: #230e3d;
  --color-green: #00ff88;
}

.max-width-1200px,
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button */

.primary-btn,
.transparent-btn {
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background: var(--grad1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.primary-btn:hover,
.primary-btn:focus {
  transform: scale(1.05);
  outline: none;
  background: #00f048c3;
}


.transparent-btn:hover,
.transparent-btn:focus
 {
  color: white;
  transform: scale(1.06);
  background: #351165;
  outline: none;
}

.section-heading {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-description {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 60%;
}

.uppercase {
  text-transform: uppercase;
}

.social-links a,
.footer-links a {
  text-decoration: none;
}

body {
  background-color: var(--primary-theme);
}

nav {
  background-color: var(--primary-theme);
  border-bottom: 5px solid var(--secondary-theme);
}

.navbar {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-name {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.brand-logo-color {
  background: var(--grad1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* nav menu */
.nav-links {
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.hamburger-menu {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.image-container {
  position: relative;
}

.banner-bg {
  width: 100%;
  height: auto;
  display: block;
}

.gradient-circle,
.microphone {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.gradient-circle {
  max-width: 40%;
}

.microphone {
  max-width: 20%;
}


.tooltip {
  position: absolute;
  top: 40%;
  left: 57%;
  z-index: 1;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 6px 12px;
  border: none;
  border-radius: 30px;
  color: var(--primary-theme-bg);
  background-color: #00ff88;
  box-shadow: 0px 0px 20px 0px #00ff88;

  animation-name: tooltip-zoomin-out;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes tooltip-zoomin-out {
  from {
    transform: translate(1%) scale(1.1);
  }
}

.banner-content {
  max-width: 550px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  text-align: center;
  transform: translate(0, -100%);
}

.banner-content .flex {
  justify-content: center;
  gap: 0.5rem;
}

.banner-content .section-heading {
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 0;
}

.transparent-btn {
  background: none;
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

.about-container {
  text-align: center;
}

.about-container .about-text hr {
  opacity: 10%;
}

.about-highlights {
  margin-top: 80px;
  margin-bottom: 120px;
  justify-content: space-between;
  padding: 0 2rem;
}

.about-highlights div h2 {
  color: var(--color-green);
  font-weight: 800;
}


#why-choose {
  background-color: var(--primary-theme-bg);
}

.wct-inside-container {
  padding: 120px 0px;
}

.wct-top-heading h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.wct-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.wtc-big-card,
.wct-card-2,
.wct-card-3,
.wct-card-4,
.wct-card-5{
  background-color: var(--secondary-theme);
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.084);
  transition: transform 0.2s ease-in-out;
}

.wtc-big-card:hover,
.wct-card-2:hover,
.wct-card-3:hover,
.wct-card-4:hover,
.wct-card-5:hover{
  transform: scale(1.02);
}

.wtc-card-image {
  max-width: 60px;
  max-height: 60px;
}

.wtc-big-card {
  justify-content: center;
  align-content: center;
  grid-row: span 2;
}

.wct-card-2,
.wct-card-3,
.wct-card-4 {
  grid-column: span 2;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.inside-ep-container {
  padding: 120px 0px;
}

.ep-top-heading h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.ep-card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.ep-card {
  max-width: 380px;
  height: auto;
  background-color: var(--primary-theme-bg);
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.084);
  transition: transform 0.2s ease-in-out;
}

.ep-card:hover {
  transform: scale(1.02);
}

.ep-card .embed-video {
  max-width: 380px;
  width: 100%;
  max-height: 213px;
  border-radius: 30px 30px 0px 0px;
}

.ep-card-content {
  max-width: 380px;
  padding-left: 20px;
  padding-right: 20px;
}

.video-duration {
  margin-top: 12px;
  margin-bottom: 24px;
  color: var(--color-green);
  font-size: 1rem;
  font-weight: 600;
}

.host-info-top-heading h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.host-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: var(--primary-theme-bg);
  border-radius: 30px;
  padding: 40px;
  margin-bottom: 120px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.084);
  transition: transform 0.2s ease-in-out;
}

.host-info-container:hover {
  transform: scale(1.01);
}

.host-image img {
  max-width: 200px;
  max-height: 200px;
}

.social-links {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.social-links a img {
  width: 12px;
  height: 12px;
  border: 2px solid var(--secondary-theme);
  padding: 12px;
  border-radius: 50%;
}

footer {
  background-image: url("assets/footer-bg.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}


.footer-content {
  padding: 120px;
  padding-bottom: 0px;
  text-align: center;
  overflow: hidden;
}


.footer-content h2{
  font-size: 3rem;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: center;
}

.footer-links a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer-links a i {
  font-size: 20px;
  margin-right: 8px;
}

.footer-section-copyright{
  padding-bottom: 20px;  
}

@media screen and (max-width: 575px) {

  /* shared  */
  .section-heading{
    font-size: 2rem;
    font-weight: 700;
  }

  .banner-content,
  .about-container,
  .wct-inside-container,
  .inside-ep-container,
  .host-container
  {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar {
    display: flex;
    padding: 16px 20px;
  }

  .nav-links,
  .navbar .primary-btn {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .banner-bg{
    background-size: contain;
    height: 460px;
  }

  .tooltip {
   top: 24%;
   left: 60%;
   font-size: 1rem;
  }

  .banner-content {
    transform: translate(0, -50%);
  }

  .gradient-circle{
    max-width: 200px;
  }

  .microphone{
    width: 50px;
  }

  .banner-content h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .banner-content p{
    font-size: 1rem;
    max-width: 400px;
    margin: 0 auto;
  }

  .banner-content .primary-btn {
    font-size: 1rem;
  }

  .about-highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }

  .wct-card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }


  .ep-card-container {
    flex-direction: column;
    gap: 1rem;
  }

  .ep-card {
    
  } 

/* Host */
  .host-info-container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .host-info-container .social-links{
    justify-content: center;
  }

  /* Footer */
.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
      background-size: 100% 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .banner-bg{
    background-size: contain;
    height: 660px;
  }

  .tooltip {
   top: 23%;
   left:55%;
   font-size: 1rem;
  }

  .banner-content h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .banner-content p{
    font-size: 1rem;
    max-width: 400px;
    margin: 0 auto;
  }

  .banner-content .primary-btn {
    font-size: 1rem;
  }

  .gradient-circle{
    max-width: 200px;
  }

  .microphone{
    width: 50px;
  }

  /* About */
  .about-container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }

/*Featured */
  .ep-card-container {
    flex-direction: row;
    gap: 1rem;
  }


/* Host */
  .host-info-container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .host-info-container .social-links{
    justify-content: center;
  }

  .host-info-container .social-links a img {
    width: 12px;
    height: 12px;
    border: 2px solid var(--secondary-theme);
    padding: 12px;
    border-radius: 50%;
  }

  .host-info-container .social-links a i {
    font-size: 20px;
    margin-right: 8px;
  }
} 

