
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --grad1: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --primary-theme: #1a0b2e;
  --secondary-theme: #351165;
  --primary-theme-bg: #230e3d;
  --color-green: #00ff88;
}

.max-width-1200px,
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button */

.primary-btn,
.transparent-btn {
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background: var(--grad1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.primary-btn:hover,
.primary-btn:focus {
  transform: scale(1.05);
  outline: none;
  background: #00f048c3;
}


.transparent-btn:hover,
.transparent-btn:focus
 {
  color: white;
  transform: scale(1.06);
  background: #351165;
  outline: none;
}

.section-heading {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-description {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 60%;
}

.uppercase {
  text-transform: uppercase;
}

.social-links a,
.footer-links a {
  text-decoration: none;
}

body {
  background-color: var(--primary-theme);
}

nav {
  background-color: var(--primary-theme);
  border-bottom: 5px solid var(--secondary-theme);
}

.navbar {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-name {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.brand-logo-color {
  background: var(--grad1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* nav menu */
.nav-links {
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.hamburger-menu {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}